<div class="CommentSection">
    <div class="row">
        <div class="col-sm-12">
            <h4>Sylin G - <span>One year ago</span></h4>
            <p>Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
                Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
            </p>
            <p>32 Likes</p>
            <p>40 Replies</p>
        </div>
        <div class="col-sm-12">
            <h4>Sylin G - <span>One year ago</span></h4>
            <p>Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
                Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
            </p>
            <p>32 Likes</p>
            <p>40 Replies</p>
        </div>
        <div class="col-sm-12">
            <h4>Sylin G - <span>One year ago</span></h4>
            <p>Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
                Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
            </p>
            <p>32 Likes</p>
            <p>40 Replies</p>
        </div>
        <div class="col-sm-12">
            <h4>Sylin G - <span>One year ago</span></h4>
            <p>Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
                Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
            </p>
            <p>32 Likes</p>
            <p>40 Replies</p>
        </div>
        <div class="col-sm-12">
            <h4>Sylin G - <span>One year ago</span></h4>
            <p>Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
                Nice explanation Bro...Love to watch and easily adoptable too.. Thank You So 
            </p>
            <p>32 Likes</p>
            <p>40 Replies</p>
        </div>
        <!-- <div>
            <ul>
                <li *ngFor="let element of array">{{element.name}}, {{element.age}},{{}}</li>
            </ul>
        </div>
         -->
        
    </div>
</div>